<h4>Flopchooser</h4>

<div style="margin-bottom:2rem" >
  <p>Which movie has a lower IMDB rating?</p>
  <p [hidden]="!hasChosen">
    <span [hidden]="!isCorrect">Correct!</span>
    <span [hidden]="isCorrect">Incorrect!</span>
  </p>
  <button class="btn btn-primary" 
    [hidden]="!hasChosen" 
    (click)="onPlayAgainClicked()"
    >Play Again</button>
  
</div>
  
 

<div style="display:flex; justify-content:space-around">
  
  <my-movie-selector 
    [movie]="flops.first"
    (select)="onFirstSelected()"
    ></my-movie-selector>
  <my-movie-selector 
    [movie]="flops.second"
    (select)="onSecondSelected()"
    ></my-movie-selector>
  

</div>