
@{
    ViewData["Title"] = "PopulatePicklist";
}

<style>
    #dummy-content {
        border: 2px solid black;
        width: 400px;
        height: 400px;
        
        left: 50px;
        top: 30px;
        border-radius: 10px;
        padding: 5px;
        background: #ccddff;
    }

    #details {
        border: 2px solid black;
        border-radius: 10px;
        width: 400px;
        height: 200px;
        
        left: 530px;
        top: 30px;
        padding: 5px;
        background: #ccebff;
    }

    p {
        text-align: justify;
    }

    label {
        font-size: 23px;
    }

    .dropdown {
        font-size: 20px;
        border-radius: 5px;
    }
</style>

<h1>PopulatePicklist</h1>

<div id="details">
    <h2>Select a continent from the dropdown:</h2>
    <label for="continents">Continent:</label>
    <select id="continents" class="dropdown" onchange="getDetails()">
        <option selected disabled>Select Continent</option>
        <option value="africa">Africa</option>
        <option value="asia">Asia</option>
        <option value="europe">Europe</option>
        <option value="n-america">North America</option>
        <option value="s-america">South America</option>
        <option value="australia">Australia</option>
    </select><br /><br />
    <label for="contries">Country:</label>
    <select id="countries" class="dropdown" onchange="getDetails()">
        <option value="">Select Country</option>
    </select>

</div>

<div id="dummy-content">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
    <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.</p>
    <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>
    <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. </p>
</div>

@section Scripts {
    <script>
        function getDetails() {
            var continent = document.getElementById("continents").value;
            // create instance of XmlHttpRequest object
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/Home/GetCountries?continent="+continent, true);
            xhr.send();

            // ready state
            //  0 - request not initialized
            //  1 - server connection established
            //  2 - request is sent
            //  3 - request is being processed
            //  4 - completed

            //write callback function for onreadystatechange event
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById("countries").innerHTML = xhr.responseText;
                }
            }
        }
    </script>
}