
/* https://designshack.net/articles/css/the-lowdown-on-before-and-after-in-css/ */


.button {
    height: 100px;
    width: 100px;
    position: relative;
    margin: 50px;
    color: gray;
    text-align: center;
    line-height: 100px;

    /*Rounded Corners and Shadows*/
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: 2px 2px 4px rgba(0,0,0,0.4);
    box-shadow: 2px 2px 4px rgba(0,0,0,0.4);

    /*Ridiculous Gradient Syntax*/
    background: #e51d16; /* Old browsers */
    background: -moz-linear-gradient(top,  #e51d16 0%, #b21203 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e51d16), color-stop(100%,#b21203)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e51d16 0%,#b21203 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e51d16 0%,#b21203 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e51d16 0%,#b21203 100%); /* IE10+ */
    background: linear-gradient(top,  #e51d16 0%,#b21203 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e51d16', endColorstr='#b21203',GradientType=0 ); /* IE6-9 */
}
.button:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    position: relative;
    padding: 15px;
    background: #ddd;
    left: -15px;
    top: -15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
    box-shadow: inset 2px 2px 4px rgba(0,0,0,0.4);
}

#octagon {
   width: 100px; 
   height: 100px; 
   background: blue;
}
 
#octagon:before {
   height: 0;
   width: 40px;
   content:"";
   position: absolute; 
   border-bottom: 30px solid blue;
   border-left: 30px solid white; 
   border-right: 30px solid white; 
}
 
#octagon:after {
   height: 0;
   width: 40px;
   content:"";
   position: absolute; 
   border-top: 30px solid blue; 
   border-left: 30px solid white;  
   border-right: 30px solid white; 
   margin: 70px 0 0 -54;
}